<div class="container">
    <h1>Track Your Activity</h1>

    <h2>right click for start/stop recording</h2>
    <h2>alt + c for selecting text from an element</h2>

    <div *ngFor = "let action of actions">
        <p>{{action}}</p>
        <button mat-raised-button color="primary" (click)="execute(action)">execute</button>
        <button mat-raised-button color="primary"  (click)="edit(action)">edit</button>
    </div>
    
    <div *ngIf="editAction != null">
        <p>edit this action: {{editAction}}</p>
        <p *ngIf="timer">your shedule time is set for: {{sliderValue}}</p>
        <button mat-raised-button color="primary" (click)="setTimer()" *ngIf="!timer">set sheduler</button>
        <button mat-raised-button color="primary" (click)="setTimer()" *ngIf="timer">disable sheduler</button>
        <mat-slider min="0" max="100" step="1" value="3" *ngIf="timer">
            <input matSliderThumb [(ngModel)]="sliderValue" (change)="onSliderChange()">
          </mat-slider>
          <button mat-raised-button color="primary" (click)="onSliderEnd()">ok</button>
    </div>
</div>